/*globe*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background: linear-gradient(to bottom right, #0f172a, #111827);
    color: white;
    min-height: 100vh;
}

/*navbar*/
.navbar {
    padding: 20px 8%;
    border-bottom: 1px solid rgba(255,255,255,0.05);
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 600;
}

.logo img {
    width: 34px;
}

/*register sect*/
.register-section {
    padding: 60px 8%;
    display: flex;
    justify-content: center;
}

.register-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 1000px;
    width: 100%;
}

/*event detail*/
.event-details {
    background: rgba(30, 41, 59, 0.75);
    backdrop-filter: blur(14px);
    border-radius: 18px;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.06);
}

.event-details img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.college {
    color: #38bdf8;
    margin-bottom: 10px;
}

.meta {
    color: #94a3b8;
    margin-bottom: 8px;
}

/*form card*/
.register-card {
    background: rgba(30, 41, 59, 0.75);
    backdrop-filter: blur(14px);
    border-radius: 18px;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.06);
}

.register-card h2 {
    margin-bottom: 20px;
}

/*inputs*/
.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    font-size: 14px;
    color: #94a3b8;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.08);
    background: #1e293b;
    color: white;
    outline: none;
}

.input-group input:focus {
    border-color: #6366f1;
}

/*buttons*/
.btn-register {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(135deg, #6366f1, #818cf8);
    color: white;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-register:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 25px rgba(99,102,241,0.35);
}

/*RESPONSIVE*/
@media (max-width: 768px) {
    .register-container {
        grid-template-columns: 1fr;
    }
}